/* CSS Document */

body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

#topsection{
/*background: #EAEAEA;*/
height: 90px; /*Height of top section*/
/*background-image:url(HeaderBack.gif);*/

}

#topsection h1{
margin: 0;
/*padding-top: 15px;*/
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
/*margin: 0 200px 0 25%;*/ /*Margins for content column. Should be "0 right-column-width 0 left-column-width*/

margin-bottom:0;
margin-left:175px;
margin-right:200px;
margin-top:5px;
}

#leftcolumn{
float: left;
width: 175px; /*Width of left column in percentage*/
margin-left: -100%;
/*background: #C8FC98;*/
}

#rightcolumn_del{
float: left;
width: 200px; /*Width of right column in pixels*/ 
margin-left: -200px; /*Set margin to -(RightColumnWidth)*/

}

#rightcolumn{
float: left;
width: 0px; /*Width of right column in pixels*/ 
margin-left: -200px; /*Set margin to -(RightColumnWidth)*/
}



#footer{
clear: left;
width: 100%;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 2px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

/*TABS*/
.toptabs {
	Background-color:#669966;
	border-left:1px solid #C2C2C2;
	border-right:1px solid #C2C2C2; 
	border-top:1px solid #C2C2C2;
	font:Verdana, Arial, Helvetica, sans-serif; 
	text-decoration:none;
	cursor:hand;
	font-family:Verdana;
	font-size:15px;	
	/*color:#FFFFFF;*/
	color:#FF9933;
	}

.seltoptab{
	Background-color:#FF9933;
	font-family:Verdana;
	font-size:14px; 
	color:#FFFFFF;
	}
	
/* header */

#logo h1, #logo h2 {
	float: left;
	margin-top: 20px;
	text-transform: lowercase;
	font-weight: normal;
}

#logo h1 {
	padding: 5px 0 0 0px;
	font-size: 2.6em;
}

#logo h2 {
	padding: 17px 0 0 6px;
	font-size: 1.2em;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}

#topmenu {
	float: right;
	height: 40px;
}

#topmenu ul {
	margin: 0;
	padding: 20px 0px 0 0;
	list-style: none;
}

#topmenu li {
	float: left;
}

#topmenu1 a{
font:Verdana, Arial, Helvetica, sans-serif; 
	font-size:13px; 
	color:#FFFFFF;
	border-color:#FF0000;  
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px; 
	border-style: solid; 
	border-width:thin;
	border-top: 0px solid #FF0000 ;
	border-bottom: 0px solid #FF0000 ;
	border-left: 0px solid #FF0000 ;
	border-right: 2px solid #FF0000 ;
	padding: 0px 7px 0px 7px;
	text-transform: lowercase;
	text-decoration: none;
		display: block;
	float: left;
}

#topmenu a {
	float: left;
	border-right: 2px solid #FF0000 ;
	padding: 0px 14px 0px 14px;
	text-transform: lowercase;
	text-decoration: none;
	font: Verdana, Arial, Helvetica, sans-serif
	font-size:12px;
	color: #FFFFFF;
	cursor: hand; 
	font-weight: normal;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px; 
}

#topmenu a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

#topmenu .last a {
	margin: 0;
	padding-right: 0;
}

/* Footer */



#footer p {
	margin: 0;
	padding: 15px 0px;
	font-size: 11px;
	font:Verdana, Arial, Helvetica, sans-serif ;
}

#footer .legal {
	float: left;
	height: 20px;
	font-family:Verdana;
	font-size:9px;	
	color:#FF9933;
	
	height: 20px;
}

#footer .credit {
	font-family:Verdana;
	font-size:9px;	
	color:#669966;
	float: right;
	height: 20px;
}
/*FORM STYLES */
.textBox{
	font:Verdana, Arial, Helvetica, sans-serif ;
	font-size:14px;
}
.labels{
	font:Verdana, Arial, Helvetica, sans-serif; 
	font-size:16px;
}
.errorMsg{
	font:Verdana, Arial, Helvetica, sans-serif; 
	font-size:13px; 
	color:#FD5F37;
	border-color:#FF0000;  
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px; 
	border-style: solid; 
	border-width:thin;
}


/*FORM STYLES */
/*CURVED DIVS*/
/* Inset 3D Raised */
.raised {
background: transparent;
/*width:175px;*//*width:100%;/* /* Moved to HTML Part - Naren K*/
margin:0 auto;
}
.raised h1, .raised p {margin:0 10px;}
.raised h1 {font-size:2em; color:#fff; letter-spacing:1px;}
.raised p {padding-bottom: 0.5em;}

.raised .top, .raised .bottom {display:block; background:transparent; font-size:1px;}
.raised .b1, .raised .b2, .raised .b3, .raised .b4, .raised .b1b, .raised .b2b, .raised .b3b, .raised .b4b {display:block; overflow:hidden;} 
.raised .b1, .raised .b2, .raised .b3, .raised .b1b, .raised .b2b, .raised .b3b {height:1px;}
.raised .b2 {border-left:1px solid #fff; border-right:1px solid #eee;}
.raised .b3 {border-left:1px solid #fff; border-right:1px solid #ddd;} 
.raised .b4 {border-left:1px solid #fff; border-right:1px solid #aaa;}
.raised .b4b {border-left:1px solid #eee; border-right:1px solid #999;}
.raised .b3b {border-left:1px solid #ddd; border-right:1px solid #999;} 
.raised .b2b {border-left:1px solid #aaa; border-right:1px solid #999;}


.raised .b1 {margin:0 5px; background:#fff;}
.raised .b2, .raised .b2b {margin:0 3px; border-width:0 2px;}
.raised .b3, .raised .b3b {margin:0 2px;} 
.raised .b4, .raised .b4b {height:2px; margin:0 1px;}
.raised .b1b {margin:0 5px; background:#999;}
.raised .boxcontent {display:block;  border-left:1px solid #fff; border-right:1px solid #999;}



/*END CURVED DIVS*/
.menuItem{
	font-family: verdana;
	font-size:14px;
	color: maroon;
	cursor: hand; 
	font-weight: normal;


}

.menuHighLight{
	font-family: verdana;
	font-size:14px;
	color: blue;
	cursor: hand; 
	font-weight: bold;
}	

.box{
	border-top: 2px solid #FF0000 ;
	border-bottom: 2px solid #FF0000 ;
	border-left: 2px solid #FF0000 ;
	border-right: 2px solid #FF0000 ;

	margin:3px 3px 3px 3px;
	font:Verdana;
	color:#000033;
}
.inform{
	font-family:Verdana;
	font-size:9px;	
	color:#669966;
	float: left;
	height: 20px;
	margin:0px 0px 0px 0px;
}

.topMostBar{
	font-family:Verdana;
	font-size:9px;	
	color:#669966;
	float: right;
	height: 20px;
	margin:-10px 0px 0px 0px;
}